@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

i {
  color: #d10024;
}

.Information__Container {
  max-width: 74rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #fff;
}
@media screen and (max-width: 75rem) {
  .Information__Container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media screen and (max-width: 48rem) {
  .Information__Container {
    display: none;
  }
}
.Information__Container .Container__Contacts {
  display: flex;
  gap: 2rem;
}
.Information__Container .Container__Contacts .Contacts__Phone,
.Information__Container .Container__Contacts .Contacts__Email,
.Information__Container .Container__Contacts .Contacts__Andress {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.Information__Container .Container__CurrencyAndAccount {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Information__Container
  .Container__CurrencyAndAccount
  .CurrencyAndAccount__Account
  i {
  margin-right: 0.4rem;
}

.Main__Promotion .Promotion__Container .Promotion__Content a,
.Items__Container .Container__Products .Products__Item .Item__Main a,
.Main__Newsletter .Newsletter__Form form :nth-child(2),
.Main__Container .Container__Form form :nth-child(2) {
  padding: 0.6rem 1.2rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #d10024;
  border-radius: 999px;
  border: 2px solid #d10024;
  cursor: pointer;
  transition: color 4s, background-color 4s;
}
.Main__Promotion .Promotion__Container .Promotion__Content a:hover,
.Items__Container .Container__Products .Products__Item .Item__Main a:hover,
.Main__Newsletter .Newsletter__Form form :hover:nth-child(2),
.Main__Container .Container__Form form :hover:nth-child(2) {
  color: #d10024;
  background-color: #fff;
}

.Main__Newsletter .Newsletter__Title,
.Main__Promotion .Promotion__Container .Promotion__Content h2,
.Items__Container .Container__Title {
  margin: 2rem 0 1rem 0;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #333;
}

.Main__Newsletter .Newsletter__Form form,
.Main__Container .Container__Form form {
  display: flex;
}
.Main__Newsletter .Newsletter__Form form :nth-child(1),
.Main__Container .Container__Form form :nth-child(1) {
  width: 20rem;
  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: background-color 4s;
}
.Main__Newsletter .Newsletter__Form form :nth-child(1):focus,
.Main__Container .Container__Form form :nth-child(1):focus {
  outline: none;
  background-color: #e4e7ed;
}
@media screen and (max-width: 48rem) {
  .Main__Newsletter .Newsletter__Form form :nth-child(1),
  .Main__Container .Container__Form form :nth-child(1) {
    width: 14rem;
  }
}
.Main__Newsletter .Newsletter__Form form :nth-child(2),
.Main__Container .Container__Form form :nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Main__Container {
  max-width: 74rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
@media screen and (max-width: 75rem) {
  .Main__Container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media screen and (max-width: 62rem) {
  .Main__Container {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.Main__Container .Container__Logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-style: italic;
}
.Main__Container .Container__Logo i {
  font-size: 2rem;
}
.Main__Container .Container__FavoritesAndCart {
  display: flex;
  gap: 2rem;
}
.Main__Container .Container__FavoritesAndCart .FavoritesAndCart__Favorites,
.Main__Container .Container__FavoritesAndCart .FavoritesAndCart__Cart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}
.Main__Container
  .Container__FavoritesAndCart
  .FavoritesAndCart__Favorites
  .Favorites__qty,
.Main__Container
  .Container__FavoritesAndCart
  .FavoritesAndCart__Favorites
  .Cart__qty,
.Main__Container
  .Container__FavoritesAndCart
  .FavoritesAndCart__Cart
  .Favorites__qty,
.Main__Container
  .Container__FavoritesAndCart
  .FavoritesAndCart__Cart
  .Cart__qty {
  position: absolute;
  top: -0.5rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  text-align: center;
  background-color: #d10024;
  border-radius: 50%;
}
.Main__Container .Container__FavoritesAndCart .FavoritesAndCart__Favorites i,
.Main__Container .Container__FavoritesAndCart .FavoritesAndCart__Favorites a,
.Main__Container .Container__FavoritesAndCart .FavoritesAndCart__Cart i,
.Main__Container .Container__FavoritesAndCart .FavoritesAndCart__Cart a {
  color: #fff;
}

.Navigation__Container {
  max-width: 74rem;
  padding: 1rem;
  margin: 0 auto;
}
@media screen and (max-width: 75rem) {
  .Navigation__Container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.Navigation__Container .Navigation__MenuForMobile {
  display: none;
  font-size: 2rem;
}
@media screen and (max-width: 48rem) {
  .Navigation__Container .Navigation__MenuForMobile {
    display: block;
  }
}
.Navigation__Container .Navigation__MenuForMobile i {
  color: #333;
}
.Navigation__Container .Navigation__MenuForDesktop {
  display: flex;
  gap: 1.5rem;
}
@media screen and (max-width: 48rem) {
  .Navigation__Container .Navigation__MenuForDesktop {
    display: none;
  }
}
.Navigation__Container .Navigation__MenuForDesktop .MenuForDesktop__Links {
  color: #333;
  border-bottom: 2px solid transparent;
  transition: color 4s, border-color 4s;
}
.Navigation__Container
  .Navigation__MenuForDesktop
  .MenuForDesktop__Links:hover {
  color: #d10024;
  border-color: #d10024;
}

.Header__Information {
  background-color: #1e1f29;
}
.Header__Main {
  background-color: #15161d;
  border-bottom: 2px solid #d10024;
}
.Header__Navigation {
  background-color: #fff;
  border-bottom: 1px solid #333;
}

.BannersNew__Container {
  max-width: 74rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 75rem) {
  .BannersNew__Container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.BannersNew__Container #BannerOne {
  background-image: url(../../../img/banner-One.jpg);
}
.BannersNew__Container #BannerTwo {
  background-image: url(../../../img/banner-Two.jpg);
}
.BannersNew__Container #BannerThree {
  background-image: url(../../../img/banner-Three.jpg);
}
.BannersNew__Container .Container__Banner {
  width: 31%;
  height: 20rem;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 75rem) {
  .BannersNew__Container .Container__Banner {
    margin: 0 auto;
    width: 80%;
    height: 26rem;
  }
}
@media screen and (max-width: 62rem) {
  .BannersNew__Container .Container__Banner {
    width: 100%;
  }
}
.BannersNew__Container .Container__Banner .Banner__Content {
  padding: 1rem;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #d10024;
  border-bottom-right-radius: 50%;
  opacity: 0.8;
}
@media screen and (max-width: 75rem) {
  .BannersNew__Container .Container__Banner .Banner__Content {
    width: 50%;
    height: 100%;
    justify-content: center;
    gap: 2rem;
    text-align: center;
    border-bottom-right-radius: 0;
  }
}
.BannersNew__Container .Container__Banner .Banner__Content .Content__Title {
  font-size: 1.5rem;
  color: #fff;
}
@media screen and (max-width: 75rem) {
  .BannersNew__Container .Container__Banner .Banner__Content .Content__Title {
    font-size: 1.4rem;
  }
}
.BannersNew__Container .Container__Banner .Banner__Content .Content_ViewMore {
  font-size: 1.25rem;
  color: #fff;
  transition: text-shadow 4s;
}
.BannersNew__Container
  .Container__Banner
  .Banner__Content
  .Content_ViewMore:hover {
  text-shadow: 2px 2px 8px #333;
}
@media screen and (max-width: 75rem) {
  .BannersNew__Container .Container__Banner .Banner__Content .Content_ViewMore {
    margin: 0 auto;
    padding: 1rem 0;
    width: 8rem;
    font-size: 1rem;
    background-color: #15161d;
    border-radius: 999px;
    transition: scale 4s;
  }
  .BannersNew__Container
    .Container__Banner
    .Banner__Content
    .Content_ViewMore:hover {
    scale: 1.1;
  }
}
.BannersNew__Container .Container__Banner .Banner__Content .Content_ViewMore i {
  margin-left: 0.25rem;
  color: #fff;
}

.Items__Container {
  max-width: 74rem;
  padding: 1rem;
  margin: 0 auto;
}
@media screen and (max-width: 75rem) {
  .Items__Container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media screen and (max-width: 75rem) {
  .Items__Container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.Items__Container .Container__Products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 48rem) {
  .Items__Container .Container__Products {
    gap: 0;
  }
}
.Items__Container .Container__Products .Products__Item {
  width: calc(25% - 1rem);
  height: 33rem;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid #333;
}
@media screen and (max-width: 62rem) {
  .Items__Container .Container__Products .Products__Item {
    height: max-content;
    width: calc(33.33% - 1rem);
  }
}
@media screen and (max-width: 48rem) {
  .Items__Container .Container__Products .Products__Item {
    width: 50%;
  }
}
.Items__Container .Container__Products .Products__Item .Item__Header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.Items__Container
  .Container__Products
  .Products__Item
  .Item__Header
  span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25rem 0.5rem;
  color: #fff;
  background-color: #d10024;
}
.Items__Container .Container__Products .Products__Item .Item__Header img {
  width: 100%;
}
.Items__Container
  .Container__Products
  .Products__Item
  .Item__Header
  span:nth-child(3) {
  color: #b9babc;
}
.Items__Container .Container__Products .Products__Item .Item__Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.Items__Container .Container__Products .Products__Item .Item__Main h3 {
  height: 2rem;
  font-size: 1.25rem;
}
.Items__Container .Container__Products .Products__Item .Item__Main p {
  color: #d10024;
  font-weight: 700;
}
.Main__Promotion {
  padding: 4rem 1rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #e4e7ed;
  text-align: center;
}
@media screen and (max-width: 62rem) {
  .Main__Promotion {
    flex-direction: column;
  }
}
.Main__Promotion .Promotion__Container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Main__Promotion .Promotion__Container .Promotion_Accountant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 48rem) {
  .Main__Promotion .Promotion__Container .Promotion_Accountant {
    gap: 0.5rem;
  }
}
.Main__Promotion .Promotion__Container .Promotion_Accountant div {
  height: 6rem;
  width: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d10024;
  border-radius: 50%;
  color: #fff;
}
@media screen and (max-width: 48rem) {
  .Main__Promotion .Promotion__Container .Promotion_Accountant div {
    height: 5rem;
    width: 5rem;
  }
}
.Main__Promotion .Promotion__Container .Promotion_Accountant div :nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 48rem) {
  .Main__Promotion
    .Promotion__Container
    .Promotion_Accountant
    div
    :nth-child(2) {
    font-size: 0.8rem;
  }
}
.Main__Promotion .Promotion__Container .Promotion__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}
.Main__Promotion .Promotion__Container .Promotion__Content h2 {
  margin: 0;
  font-size: 1.5rem;
}
@media screen and (max-width: 48rem) {
  .Main__Promotion .Promotion__Container .Promotion__Content h2 {
    font-size: 1.25rem;
  }
}
.Main__Promotion .Promotion__Container .Promotion__Content p {
  font-size: 1.8rem;
}
@media screen and (max-width: 48rem) {
  .Main__Promotion .Promotion__Container .Promotion__Content p {
    font-size: 1.4rem;
  }
}
.Main__Promotion .Promotion__Item {
  padding: 2rem 0;
}
@media screen and (max-width: 62rem) {
  .Main__Promotion .Promotion__Item {
    padding: 0;
  }
}
.Main__Promotion .Promotion__Item img {
  width: 22rem;
}
@media screen and (max-width: 62rem) {
  .Main__Promotion .Promotion__Item img {
    width: 20rem;
    margin-left: -4rem;
  }
}
@media screen and (max-width: 48rem) {
  .Main__Promotion .Promotion__Item img {
    width: 18rem;
  }
}

.Main__Newsletter {
  padding: 3rem 1rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  border-top: 2px solid #b9babc;
}
.Main__Newsletter .Newsletter__Title {
  margin: 0;
}
@media screen and (max-width: 48rem) {
  .Main__Newsletter .Newsletter__Title {
    font-size: 1.25rem;
  }
}
.Main__Newsletter .Newsletter__Form form :nth-child(1) {
  border: 1px solid #b9babc;
}
.Main__Newsletter .Newsletter__SocialMedias {
  display: flex;
  gap: 2rem;
}
.Main__Newsletter .Newsletter__SocialMedias a {
  padding: 0.6rem;
  border: 1px solid #b9babc;
  transition: background-color 4s;
}
.Main__Newsletter .Newsletter__SocialMedias a:hover {
  background-color: #b9babc;
}
.Main__Newsletter .Newsletter__SocialMedias a i {
  height: 100%;
  width: 100%;
  color: #333;
  transition: color 4s;
}
.Main__Newsletter .Newsletter__SocialMedias a i:hover {
  color: #d10024;
}

.Content__FooterContainer {
  max-width: 74rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  color: #b9babc;
}
@media screen and (max-width: 75rem) {
  .Content__FooterContainer {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
@media screen and (max-width: 62rem) {
  .Content__FooterContainer {
    flex-direction: column;
    align-items: center;
  }
}
.Content__FooterContainer .FooterContainer__AboutUs {
  width: 25%;
  padding: 1rem;
  text-align: center;
}
@media screen and (max-width: 62rem) {
  .Content__FooterContainer .FooterContainer__AboutUs {
    width: 100%;
  }
}
.Content__FooterContainer .FooterContainer__AboutUs h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.Content__FooterContainer .FooterContainer__AboutUs .AboutUs__Contacts {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Content__FooterContainer .FooterContainer__AboutUs .AboutUs__Contacts div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.Content__FooterContainer .FooterContainer__Categories,
.Content__FooterContainer .FooterContent__Informations,
.Content__FooterContainer .FooterContent__Menu {
  width: 25%;
  padding: 1rem;
  text-align: center;
}
@media screen and (max-width: 62rem) {
  .Content__FooterContainer .FooterContainer__Categories,
  .Content__FooterContainer .FooterContent__Informations,
  .Content__FooterContainer .FooterContent__Menu {
    width: 100%;
  }
}
.Content__FooterContainer .FooterContainer__Categories h2,
.Content__FooterContainer .FooterContent__Informations h2,
.Content__FooterContainer .FooterContent__Menu h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.Content__FooterContainer .FooterContainer__Categories div,
.Content__FooterContainer .FooterContent__Informations div,
.Content__FooterContainer .FooterContent__Menu div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Content__FooterContainer .FooterContainer__Categories div a,
.Content__FooterContainer .FooterContent__Informations div a,
.Content__FooterContainer .FooterContent__Menu div a {
  color: #b9babc;
  transition: color 4s;
}
.Content__FooterContainer .FooterContainer__Categories div a:hover,
.Content__FooterContainer .FooterContent__Informations div a:hover,
.Content__FooterContainer .FooterContent__Menu div a:hover {
  color: #fff;
}

.CardsAndCopy__Container {
  max-width: 74rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 75rem) {
  .CardsAndCopy__Container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.CardsAndCopy__Container .Container__Cards {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 3rem;
}
@media screen and (max-width: 62rem) {
  .CardsAndCopy__Container .Container__Cards {
    font-size: 2rem;
  }
}
.CardsAndCopy__Container .Container__Cards i {
  color: #b9babc;
  cursor: pointer;
  transition: color 4s;
}
.CardsAndCopy__Container .Container__Cards i:hover {
  color: #d10024;
}
.CardsAndCopy__Container .Container__Copy {
  text-align: center;
  width: 100%;
  color: #fff;
}

.Footer {
  padding: 2rem 0;
  background-color: #15161d;
}

/*# sourceMappingURL=main.css.map */
