$container-width: 74rem;
$xl: 75rem;
$lg: 62rem;
$md: 48rem;
$transition-animations: 0.4s;
$light-color: #fff;
$dark-color: #333;
$primary-color: #d10024;
$secondary-color: #b9babc;
$bg-color: #15161d;
$secondary-bg-color: #1e1f29;
$tertiary-bg-color: #e4e7ed;
