@use "../../1-base/variables";
@use "../../3-modules/mixins";

.Content__FooterContainer {
  @include mixins.container;
  display: flex;
  color: variables.$secondary-color;
  @include mixins.lg {
    flex-direction: column;
    align-items: center;
  }

  .FooterContainer__AboutUs {
    width: 25%;
    padding: 1rem;
    text-align: center;
    @include mixins.lg {
      width: 100%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .AboutUs__Contacts {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      div {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }

  .FooterContainer__Categories,
  .FooterContent__Informations,
  .FooterContent__Menu {
    width: 25%;
    padding: 1rem;
    text-align: center;
    @include mixins.lg {
      width: 100%;
    }

    h2 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      a {
        color: variables.$secondary-color;
        transition: color variables.$transition-animations;
        &:hover {
          color: variables.$light-color;
        }
      }
    }
  }
}
